<app-nav></app-nav>
<section id="resume" class="resume">
    <div class="container">

      <app-main-head>
      
      </app-main-head>
      <div class="icon-b">
        <!--<div class="icon"><i class=" bi bi-file"></i></div>
        <h4><a href="">Lorem Ipsum</a></h4>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        <div class="button-box"> 
          <button class="btn btn-outline-primary  rounded-0 btn-lg">MY RESUME</button>
        
        </div>
      </div>
    </div>
</section>

