<!--<a href="https://chat.openai.com/share/b398c5e7-f512-4a55-9029-1e24cd5c4ae0">{{gitUrlLink}}</a>-->


  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="#">{{logoName}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a Passionate <span>FrontEnd Designer</span> from Hyderabad</h2>

      <!-- .navbar -->
      <app-nav></app-nav>

      <div class="social-links">
        <a href="#" ><i class="fab fa-twitter"></i></a>
        <a href="#" ><i class="fab fa-instagram"></i></a>
        <a href="#" ><i class="fab fa-linkedin-in"></i></a>
        <a href="#" ><i class="fab fa-github"></i></a>
      </div>

    </div>
  </header><!-- End Header -->
 
