.container{
    margin-top:2rem;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #c084fc;
    ;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .card-img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:0;
  }
 
  .card{
    text-align:center;
    position:relative;
    margin: 0 auto 15px auto;
    border:2px solid #7e22ce;
    text-align: center;
    elevation:2;
    border-radius:0;
     
  }
  .card-overlay h2{
    font-size:24px;
    text-align:center;
    padding:2rem;
  }
  .card-overlay p{
    font-size:16px;
    text-align:center;
    padding:10px 20px;
  }
  .card-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:opacity 0.5s ease-in-out;
  }

  .card:hover .card-overlay {
    opacity:1;
  }