
<app-nav></app-nav>
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <app-main-head>
        <h2>ABOUT</h2>
        <p>Know more about me</p>
      </app-main-head>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/person2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-2 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX &amp; Frontend Developer</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-8">
              <ul>
                <li *ngFor="let item of listItemData">
                  <i class="{{ item.icon }}"></i>
                  <strong>{{ item.label }}:</strong>
                  <span class="sub-content">{{ item.content }}</span>
                </li>
              </ul>
            </div>
          </div>
          <p class="sub-content">
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
      </div>

    </div>
